<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      <span>Fit Today</span>
    </h2>
    <md-button ng-click="vm.openCreateMealModal()" aria-label="create meal" ng-show="vm.isLoggedIn">
      + Create Meal
    </md-button>
    <span flex></span>
    <div ng-hide="vm.isLoggedIn">
      <md-button class="md-raised" ng-click="vm.openLoginModal($event)" aria-label="Log in">
        Log in
      </md-button>
      <md-button ng-click="vm.openRegisterModal($event)" aria-label="Register">
        Register
      </md-button>
    </div>
    <div ng-show="vm.isLoggedIn">
      <span>Hello, {{vm.userName}}!</span>
      <md-button ng-click="vm.logOut($event)" aria-label="logout">
        Log out
      </md-button>
    </div>
  </div>
</md-toolbar>