<md-dialog aria-label="Edit Meal" flex="80">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Meal</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.hide()">
          <md-icon md-svg-src="/imgs/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="login">
          <md-input-container class="md-block">
            <label>Name</label>
            <input ng-model="vm.newMeal.name">
          </md-input-container>

          <md-input-container>
            <label>When</label>
            <md-datepicker ng-model="vm.newMeal.when" md-open-on-focus></md-datepicker>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Description</label>
            <input ng-model="vm.newMeal.description">
          </md-input-container>

          <md-input-container class="md-block">
            <label>Calories</label>
            <input ng-model="vm.newMeal.calories" type="number" min="0">
          </md-input-container>

          <div layout="column">
            <md-button flex class="md-raised md-primary" ng-click="vm.save()">Save</md-button>
          </div>
        </form>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>